{{/* APA-Style Citation */}}

{{- $authors := .author -}}
{{- if $authors -}}
  {{- range $index, $author := $authors -}}
    {{- if $index }}, {{ end -}}
    {{- with $author.family }}{{ . }}{{ end -}}
    {{- with $author.given }}, {{ substr . 0 1 }}.{{ end -}}
  {{- end -}}
{{- else -}}
  {{- i18n "apa_no_author_abbr" | default "n.a." | upper -}}
{{- end -}}

{{- if and (isset . "issued") (isset .issued "date-parts") -}}
  {{- range $index, $dateParts := (index .issued "date-parts") -}}
    {{- if $index }}, {{ end -}}
    {{- range first 1 $dateParts -}} ({{ . }}){{- end -}}
  {{- end -}}
{{- else -}}
  ({{ i18n "apa_no_date_abbr" | default "n.d." }})
{{- end -}}

{{- if .title -}}
. {{ .title | markdownify }}
{{- end -}}

{{- if isset . "container-title" -}}
. <i>{{ index . "container-title" }}</i>
{{- end -}}

{{- with .volume -}}, {{ . }}{{- end -}}
{{- with .issue -}}({{ . }}){{- end -}}
{{- with .page -}}, {{ . }}{{- end -}}.

{{- if .DOI -}}
 https://doi.org/{{ .DOI }}
{{- else if .URL -}}
 {{ i18n "apa_retrieved_from" | default "Retrieved from" }} {{ .URL }}
{{- end -}}