{{/* IEEE-Style Citation: Title (bold), Authors (Year), Link - Compact for two-column layout */}}
{{- $authors := .author -}}
{{- $hasAuthors := (and $authors (gt (len $authors) 0)) -}}

{{- if .title -}}
<strong>{{ .title | markdownify }}</strong><br>
{{- end -}}

{{- if $hasAuthors -}}
  {{- range $index, $author := $authors -}}
    {{- if $index }}, {{ end -}}
    {{- with $author.given }}{{ substr . 0 1 }}.{{ end -}}{{- with $author.family }} {{ . }}{{ end -}}
  {{- end -}}
{{- else -}}
  {{- i18n "apa_no_author_abbr" | default "No author" -}}
{{- end -}}
{{- if and (isset . "issued") (isset .issued "date-parts") -}}
  {{- $dateParts := index .issued "date-parts" -}}
  {{- if gt (len $dateParts) 0 -}}
    {{- $year := index (index $dateParts 0) 0 -}}
    {{- if $hasAuthors }}, {{ end }}({{ $year }})
  {{- end -}}
{{- end -}}<br>

{{- if .DOI -}}
<a href="https://doi.org/{{ .DOI }}" target="_blank">DOI</a>
{{- else if .URL -}}
<a href="{{ .URL }}" target="_blank">Link</a>
{{- end -}}


