{{/*
  This shortcode adds a linked Author Date citation reference to the text, and a
  hover pop-up with the full citation text. It also adds the citation to a map
  of cited works, which can then be output as a page-level bibliography using
  the {{< bibliography >}} shortcode.

  Example:

  {{< cite key="Faure1909" pages="304" format="p" >}}

  Parameters:
  - `key` (required): The citation key matching an ID in the bib.json file.
  - `pages` (optional): Page number or range of page numbers.
  - `format` (optional): Citation format, "p" (default) or "t".
  - `suppressAuthor` (optional): Set to `true` to suppress the author's name.

  The bibliography file must be a CSL-JSON, specified either in the page's front
  matter with the `bibFile` parameter, or in the same directory as the page,
  with the file name `bib.json`.
*/}}

{{- $errorMissingValue := "You must at least provide a citation key. It is required and should match an ID in the CSL-JSON bibliography file. Example: {{< cite key=\"Faure1909\" >}}" -}}
{{- $defaultErrString := "No matching key was found for `%s` in the references. Please make sure to provide an available ID in your `bib.json` file." -}}

{{/* Set variables*/}}
{{- $keyRaw := .Get "key" | default (.Get 0) }}
{{- if not $keyRaw }}
  {{- errorf $errorMissingValue }}
{{- end }}
{{- $pagesRaw := .Get "pages" | default (.Get 1) | default "" }}
{{- $format := .Get "format" | default (.Get 2) | default "p" }}
{{- $suppressAuthor := .Get "suppressAuthor" | default false }}
{{- $keySeparator := ";" }}

{{/* Process $suppressAuthor if key starts with "-" */}}
{{- if not $suppressAuthor }}
  {{- if (findRE "^-(.+)" $keyRaw) }}
    {{- $suppressAuthor = true }}
    {{- $keyRaw = replaceRE "^-(.+)" "${1}" $keyRaw }}
  {{- end }}
{{- end }}

{{- $keys := split $keyRaw $keySeparator }}
{{- $pages := split $pagesRaw ";" }}
{{- $totalRefs := len $keys }}

{{/* -------------------- BEGIN Citation style -------------------- */}}
{{- $citationStyle := "apa" }}
{{- if $.Site.Params.citationStyle }}
  {{- if templates.Exists (printf "partials/bibliography/%s-style.html" $.Site.Params.citationStyle) }}
    {{- $citationStyle = $.Site.Params.citationStyle }}
  {{- end }}
{{- end }}
{{- $partialPath := printf "bibliography/%s-style.html" $citationStyle }}
{{/* -------------------- END Citation style -------------------- */}}

{{/* -------------------- BEGIN Bibliography path -------------------- */}}
{{- $bibliographyPath := "" }}

{{/* 1. If a `bibFile` is specified in the page front-matter, it takes precedence */}}
{{- if $.Page.Params.bibFile }}
  {{- $bibliographyPath = $.Page.Params.bibFile -}}
{{- else }}
  {{/* 2. Check for a `bib.json` file in the same directory as the page */}}
  {{- $possibleBibPath := path.Join ($.Page.File.Dir) "bib.json" }}
  {{- if (fileExists $possibleBibPath) }}
    {{- $bibliographyPath = $possibleBibPath }}
  {{- else }}
    {{/* 3. Check for a JSON file in the leaf bundle with "bib" in the name */}}
    {{- $pageResource := $.Page.Resources.GetMatch "*bib*.json" -}}
    {{- if $pageResource }}
      {{- $bibliographyPath = $pageResource.RelPermalink }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if gt (len $bibliographyPath) 0 -}}
  {{/* Begin Bibliography Loading */}}
  {{- $bibContent := readFile $bibliographyPath }}
  {{- $bibliography := transform.Unmarshal $bibContent }}

  {{/* -------------------- END Bibliography path -------------------- */}}

  {{/* -------------------- Output Rendering -------------------- */}}
  {{- if eq $format "t" }}
    <span class="hugo-cite-intext-t" itemprop="citation">
      {{- range $keyIndex, $key := $keys -}}
        {{- $found := false -}}
        {{- range $reference := $bibliography -}}
          {{- if eq $reference.id $key -}}
            {{- $found = true -}}
            {{- $params := dict "key" $key "keyIndex" $keyIndex "reference" $reference "suppressAuthor" $suppressAuthor "format" $format "pages" $pages "partialPath" $partialPath "Page" $.Page }}
            {{- partial "render-citation.html" $params }}
            {{- if lt (add 1 $keyIndex) $totalRefs -}};&#32;{{- end }}
            {{- break -}}
          {{- end }}
        {{- end }}
        {{- if not $found -}}
          {{- $particularKeyErr := printf $defaultErrString $key -}}
        <span style="background-color: #f00; color: #fff;">{{- $particularKeyErr -}}</span>
        {{- end }}
      {{- end }}
    </span> {{/* Add a space after the citation */}}&#32;
  {{- else }}
  {{- if eq site.Params.citationStyle "ieee" -}}
  <span class="hugo-cite-intext" itemprop="citation">
      {{- range $keyIndex, $key := $keys -}}
        {{- $found := false -}}
        {{- range $reference := $bibliography -}}
          {{- if eq $reference.id $key -}}
            {{- $found = true -}}
            {{- $params := dict "key" $key "keyIndex" $keyIndex "reference" $reference "suppressAuthor" false "format" $format "pages" $pages "partialPath" $partialPath "Page" $.Page }}
            {{- partial "render-citation.html" $params }}
            {{- if lt (add 1 $keyIndex) $totalRefs -}};&#32;{{- end }}
            {{- break -}}
          {{- end }}
        {{- end }}
        {{- if not $found -}}
          {{- $particularKeyErr := printf $defaultErrString $key -}}
          <span style="background-color: #f00; color: #fff;">{{- $particularKeyErr -}}</span>
        {{- end }}
      {{- end }}
    </span>
  {{- else -}}
  (<span class="hugo-cite-intext" itemprop="citation">
      {{- range $keyIndex, $key := $keys -}}
        {{- $found := false -}}
        {{- range $reference := $bibliography -}}
          {{- if eq $reference.id $key -}}
            {{- $found = true -}}
            {{- $params := dict "key" $key "keyIndex" $keyIndex "reference" $reference "suppressAuthor" $suppressAuthor "format" $format "pages" $pages "partialPath" $partialPath "Page" $.Page }}
            {{- partial "render-citation.html" $params }}
            {{- if lt (add 1 $keyIndex) $totalRefs -}};&#32;{{- end }}
            {{- break -}}
          {{- end }}
        {{- end }}
        {{- if not $found -}}
          {{- $particularKeyErr := printf $defaultErrString $key -}}
          <span style="background-color: #f00; color: #fff;">{{- $particularKeyErr -}}</span>
        {{- end }}
      {{- end }}
    </span>)
  {{- end -}}
  {{- end }}
{{- else }}
  {{- errorf "No bibliography file specified or found." }}
{{- end }}
